<h2>Manage Shoes</h2>

<h5>Add a Shoes Location</h5>
<form class="form-group row" action="/stores/:id" method="post">
    <label for="new_store" class="col-sm-2 col-form-label">New Store</label>
    <div class="col-sm-5">
      <input type="new_store" class="form-control" placeholder="New Store Name">
    </div>
    <div class="col-sm-4">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>

</form>

<h5>Update a Shoes Location</h5>
