<h2>Manage Shoes</h2>
<div class="container">
  <h5>Add a Shoes Location</h5>
  <form class="form-group row" action="admin/stores/<%= @stores.ids %>" method="post">
      <label for="new_store" class="col-sm-2 col-form-label">New Store</label>
      <div class="col-sm-5">
        <input type="new_store" class="form-control" placeholder="New Store Name" name="new_store">
      </div>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
  </form>

  <h5>Update a Shoes Location</h5>
  <form class="form-group row" action="index.html" method="post">
  <select class="form-control col-sm-7" name="shoe_store">
    <% @stores.each do |store| %>
    <option value="<%= store.id %>"><%= store.store %></option>
    <%end%>
  </select>
  <div class="col-sm-4">
    <button class="btn btn-primary"type="submit">Update</button>
  </div>

  </form>
</div>
