<div class="adminView text-center">
  <h2>Edit Stores</h2>
  <a href="/admin/stores"><button type="button" class="btn btn-primary">Edit Stores</button></a>
</div>

<div class="adminView text-center" id="assignBrands">
  <h2>Assign Brands to Stores</h2>
  <a class="centerButton"href="/admin/brands"><button type="button" class="btn btn-primary">Assign Brands</button></a>
</div>
