<h2>Welcome to Shoes</h2>

<a href="/stores"><button class="btn btn-primary" type="button" name="button">Stores</button></a>

<h4>Admin Portal</h4>
<a href="/admin"><button type="button" class="btn btn-primary">Login</button></a>
