<div class="customerView">
  <h2>Current brands at <%= @store.store %></h2>

    <% @store.brands.each do |brand| %>
      <p><%= brand.shoe_brand %>: <%= ("$"+"%.2f" % brand.price) %> </p>
    <%end%>
</div>
